*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  padding: .5rem;
  margin: 0 1rem;
  background-color: rgb(235, 235, 235);
}

.todo-title{
  font-family: 'Darumadrop One', cursive;
  margin: 2rem 8vw;
  font-weight: bold;
  font-size: 1.8rem;
  text-align: center;
  width: 75vw;
}

.column-name-tasks {
  margin-left: .3rem;
  font-family: 'Darumadrop One', cursive;
  font-size: 1.4rem;
}

.column-name-date {
  font-family: 'Darumadrop One', cursive;
  text-align: center;
  font-size: 1.4rem;
}

.main-to-do-grid,
.list-item {
  display: grid;
  grid-template-columns: 45% 130px 100px;
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
}

.main-to-do-grid {
  margin-bottom: 30px;
  align-items: stretch;
}

.list-item{
  margin-bottom: 10px;
}
.name-input,
.due-date-input {
  font-size: 1rem;
  padding: 6px;
  border: 2px solid gray;
  border-radius: .5rem;
}

.name-input:focus{
  outline: none;
}


.add-todo-button{
  background-color: green;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: .5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.delete-button {
  background-color: darkred;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 10px 0;
  border-radius: .5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.task-description,
.date-description{
  background-color: rgb(207, 200, 200);
  padding: 0.7rem;
  border-radius: 0.5rem
}

.date-description {
  text-align: center;
}


.footer__copy{
  display: block;
  margin: 2rem .8rem 2rem;
  text-align: center;
  font-size: .8rem;
  color: grey;
}

.footer{
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin-top: 30vh;
}


@media screen and (max-width: 520px) {

  body {
    border: none;
    padding: .5rem;
    margin: 0 1rem;
  }

  .todo-title{
    margin: 1.8rem 5vw;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    width: 75vw;
  }

  .column-name-tasks {
    font-size: 1.2rem;
  }

  .column-name-date {
    font-size: 1.2rem;
  }
  
  .name-input,
  .due-date-input {
    font-size: 1rem;
    padding: 2px;
    border: 2px solid gray;
    border-radius: .5rem;
  }

  .due-date-input{
    font-size: .7rem;
    max-width: 5.6rem;
  }

  .main-to-do-grid,
  .list-item {
    display: grid;
    grid-template-columns: 55% 5.6rem 3rem;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
  }

  .main-to-do-grid{
    margin-bottom: 1.3rem;
    align-items: stretch;
  }

  .task-description,
  .date-description {
    background-color: rgb(207, 200, 200);
    padding: 0.2rem;
    border-radius: .5rem;
  }

  .add-todo-button {
    font-size: 1rem;
    border: none;
    border-radius: .35rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  }

  .delete-button {
    font-size: .8rem;
    padding: .2rem 0;
    border-radius: .35rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  }

  .footer__copy{
    margin: 4.5rem 0 2.5rem;
   }

}